@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;

}

body{
    background: #333;
}

.container{
    width: 50%;
    border: 2px solid greenyellow;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 12px greenyellow;
}

.container h1{
    color: greenyellow;
    font-size: 2.8rem;
    border-bottom: 2px solid greenyellow;
    padding-bottom: 1rem;
    text-shadow: 2px 2px 4px greenyellow;
}

.quiz-start h2{
    margin: 1rem 0;
    font-size: 1.8rem;
    color: greenyellow;
}

.answer-buttons button{
    width: 100%;
    text-align: left;
    padding: 1rem;
    margin-bottom: 1rem;
    background: transparent;
    border: 2px solid greenyellow;
    color: greenyellow;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

.answer-buttons button:hover:not([disabled]){

    color: white;
    font-weight: bolder;
}
.answer-buttons button:disabled{
    cursor: no-drop;
}

.nxt-btn{
    font-size: 1.1rem;
    padding: .5rem 2rem;
    margin: 1rem auto;
    display: none;
    border: 2px solid greenyellow;
    outline: none;
    background: transparent;
    color: greenyellow;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px greenyellow;
}

.nxt-btn:hover{
    color: white;
}


@media screen and (max-width:768px) {
   .container{
    width: 60%;
   }
   .quiz-start h2{
     font-size: 1.4rem;
   }
}

@media screen and (max-width:600px) {
    .container{
        width: 80%;
       }
       .quiz-start h2{
        font-size: 1.1rem;
       }
}

@media screen  and (max-width:425px){
    .container{
        width: 90%;
    }
    .quiz-start h2{
        font-size: 1rem;
      }
}

@media screen  and (max-width:320px){
    .quiz-start h2{
        font-size: 1rem;
      }
}